---
interface Props {
  title: string;
  href: string;
  imgUrl: string;
  description: string;
}

const { title, href, imgUrl, description } = Astro.props;
---

<div
  class="relative flex sm:flex-col flex-col-reverse group overflow-hidden rounded-lg transition-transform duration-300 ease-in-out hover:-translate-y-2"
>
  <a class="absolute inset-0 z-10" href="#">
    <span class="sr-only">View {title}</span>
  </a>
  <img
    alt={title}
    class="object-cover w-full"
    height={300}
    src={imgUrl}
    style={{
      aspectRatio: "16/10",
      objectFit: "cover",
    }}
    width={500}
  />
  <div class="bg-white p-4 dark:bg-gray-950">
    <h3 class="font-bold text-xl text-zinc-100">{title}</h3>
    <p class="text-sm text-zinc-100">
      {description}
    </p>
    <div class="flex space-x-2 mt-2">icons</div>
  </div>
</div>
