---
interface Icon {
  url: string;
  alt: string;
  widthClass?: string;
}

interface Props {
  title: string;
  href: string;
  imgUrl: string;
  description: string;
  icons: Icon[]; // Array of icons
}

const { title, href, imgUrl, description, icons } = Astro.props;
---

<div
  class="relative grow flex sm:flex-col flex-col-reverse group overflow-hidden rounded-lg transition-transform duration-300 ease-in-out hover:-translate-y-2 border border-slate-800"
>
  <a class="absolute inset-0 z-10" href={href}>
    <span class="sr-only">View {title}</span>
  </a>
  <img
    alt={title}
    class="object-cover w-full"
    height={300}
    src={imgUrl}
    style={{
      aspectRatio: "16/10",
      objectFit: "cover",
    }}
    width={500}
  />
  <div class="p-4 pt-3 flex flex-col gap-1 grow bg-zinc-50">
    <h3 class="font-bold text-2xl text-zinc-950">{title}</h3>
    <p class="text-sm text-zinc-950">
      {description}
    </p>
    <div class="pt-2 flex gap-2 flex-wrap md:flex-no-wrap">
      {
        icons.map((icon) => (
          <img
            src={icon.url}
            width="40"
            height="40"
            class={`h-10 ${!!icon.widthClass ? icon.widthClass : "w-10"}`}
            alt={`${icon.alt} logo`}
            loading="lazy"
          />
        ))
      }
    </div>
  </div>
</div>
